body {
    background-image: url('https://wallpapercave.com/wp/wp2861688.jpg'); /* Ajusta la ruta según tu estructura de carpetas */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
